<ion-view title="Status" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 50px;"></div>
    <div>
      <img src="img/BdDsHciQTGOQnVchQWy5_arcMonitor-logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="status-form5" class="list">
      <label class="item item-input" id="status-input7">
        <span class="input-label">Corrente:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="height: 30px;"></div>
      <label class="item item-input" id="status-input8">
        <span class="input-label">Potência:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="height: 30px;"></div>
      <label class="item item-input" id="status-input9">
        <span class="input-label">Tensão:</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>